<!DOCTYPE html>
<html>
<head>
	<title>FacebookCam - QGdoEnem</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,400,400italic,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- Facebook Root -->
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '1393749097528499',                  					      // App ID from the app dashboard
	      channelUrl : 'http://fbcam-qgdoenem.herokuapp.com/',								// Channel file for x-domain comms
	      status     : true,							                                  // Check Facebook Login status
	      xfbml      : true               							                    // Look for social plugins on the page
	    });

		  
			$(document).on('fbload', checkLike);

			function checkLike(){
		  	FB.login(function(response) {
		  		alert("Response " + JSON.stringify(response))
		  		FB.api('/me', function(response) {
		  			if (response.authResponse) {
						    
					    var user_id = response.authResponse.userID;
					    var page_id = "1393749097528499";
					    var fql_query = "SELECT uid FROM page_fan WHERE page_id = "+page_id+"and uid="+user_id;
					    var the_query = FB.Data.query(fql_query);
					    alert("Entrou")
					    the_query.wait(function(rows) {
					    		alert("Query" + rows)
					        if (rows.length == 1 && rows[0].uid == user_id) {
					        	alert("Uii Gugu")
				            window.location = "<%= video_path %>"
					        } else {
					        	alert("OhMan")
					          window.location = "<%= root_path %>"
					        }
					    });
					  }
			    });
				});
		  }

		  $(document).trigger('fbload');  //  <---- THIS RIGHT HERE TRIGGERS A CUSTOM EVENT CALLED 'fbload'
		};

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=1393749097528499";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<%= yield %>

</body>
</html>
